 <div id="form">
   <p>Year:</p>
  <select name="year" id="year">
    <option>2003</option>
    <option>2004</option>
    <option>2005</option>
    <option>2006</option>
    <option>2007</option>
    <option>2008</option>

  </select>
  <p>Quarter:</p>
  <select name="quarter" id="quarter">
    <option>Q1</option>
    <option>Q2</option>
    <option>Q3</option>
    <option>Q4</option>
  </select>
  <p>Percentile:</p>
  <select name="percentile" id="percentile">
    <option>30</option>
    <option>60</option>
    <option>90</option>
  </select>
  <p>Building Type:</p>
  <select name="building_type" id="building_type">
    <option value="1">House</option>
    <option value="3">Condo</option>
    <option value="4">Co-op</option>
    <option value="5">Commercial</option>
    <option value="13">Single-Family Townhouse</option>
    <option value="14">Multi-Family Townhouse</option>
  </select>
  <button id="submit">Visualize!</button>
  <div id="table">
  <table>
    <tr>
      <td>Borough</td>
      <td>Color</td>
    </tr>
  <tr>
    <td>Manhattan</td>
    <td style="background-color: #1f77b4;"></td>
  </tr>
  <tr>
    <td>Queens</td>
    <td style="background-color: #aec7e8;"></td>
  </tr>
  <tr>
    <td>Bronx</td>
    <td style="background-color: #ff7f0e;"></td>
  </tr>
  <tr>
    <td>Brooklyn</td>
    <td style="background-color: #ffbb78;"></td>
  </tr>
  <tr>
    <td>Staten Island</td>
    <td style="background-color: #2ca02c;"></td>
  </tr>
</table>
</div>
 </div>

<div id="svg_graph">
 
</div>

<div id="prices">
    <p>Manhattan: $<%=@csv_prices[1]%></p>
    <p>Queens: $<%=@csv_prices[2]%></p>
    <p>Bronx: $<%=@csv_prices[3]%></p>
    <p>Brooklyn: $<%=@csv_prices[4]%></p>
    <p>Staten Island: $<%=@csv_prices[5]%></p>

</div>
